<h1>School Class Form</h1>

<%= form_tag school_classes_path do %>
  <%= label_tag :school_class_title, "Title" %>
  <%= text_field_tag :"school_class[title]" %>

  <%= label_tag :school_class_room_number, "Room number" %>
  <%= text_field_tag :"school_class[room_number]" %>

  <%= submit_tag 'Create School class' %>

<% end %>
